<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Добавить пользователя</h3>
    <form method="post" th:action="@{/user/add}" th:object="${newuser}">
        <br>
            <label>Имя пользователя</label>
            <input type="text" name="name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Имя некорректно</span>
        </br>
        <br>
            <label>Фамилия пользователя</label>
            <input type="text" name="surname" th:field="*{surname}">
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Фамилия некорректна</span>
        </br>
        <br>
            <label>Возраст</label>
<!--            <input type="number" name="age" th:value="1" th:field="*{age}">-->
        <input type="text">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Возраст некорректен</span>
        </br>
        <br>
        <button type="submit">Сохранить</button>
        </br>
    </form>
</body>
</html>